<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="charmap.Properties.Coordinates" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="charmap.Properties.Game" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="charmap.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="charmap.Properties.Keys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="charmap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<runtime>
		<legacyCorruptedStateExceptionsPolicy enabled="true" />
	</runtime>
	<userSettings>
        <charmap.Properties.Coordinates>
               <setting name="sliderTopLeft" serializeAs="String">
                      <value>0, 0</value>
               </setting>
               <setting name="sliderBottomRight" serializeAs="String">
                      <value>0, 0</value>
               </setting>
               <setting name="smallFurnaceTopLeft" serializeAs="String">
                      <value>0, 0</value>
               </setting>
               <setting name="smallFurnaceBottomRight" serializeAs="String">
                      <value>0, 0</value>
               </setting>
               <setting name="largeFurnaceTopLeft" serializeAs="String">
                      <value>0, 0</value>
               </setting>
               <setting name="largeFurnaceBottomRight" serializeAs="String">
                      <value>0, 0</value>
               </setting>
               <setting name="slotTopLeft" serializeAs="String">
                      <value>100, 100</value>
               </setting>
               <setting name="slotBottomRight" serializeAs="String">
                      <value>200, 200</value>
               </setting>
        </charmap.Properties.Coordinates>
        <charmap.Properties.Game>
            <setting name="sensitivity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="fov" serializeAs="String">
                <value>90</value>
            </setting>
        </charmap.Properties.Game>
        <charmap.Properties.Config>
            <setting name="config" serializeAs="String">
                <value />
            </setting>
        </charmap.Properties.Config>
        <charmap.Properties.Keys>
            <setting name="crouch" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="json" serializeAs="String">
                <value />
            </setting>
        </charmap.Properties.Keys>
        <charmap.Properties.Settings>
               <setting name="sensitivity" serializeAs="String">
                      <value>0.25</value>
               </setting>
               <setting name="fov" serializeAs="String">
                      <value>90</value>
               </setting>
               <setting name="rapid" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="hipfire" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="cursorcheck" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="alwayshipfire" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="sounds" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="legacyRecoil" serializeAs="String">
                      <value>False</value>
               </setting>
        </charmap.Properties.Settings>
    </userSettings>
</configuration>